<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- General System configuration properties -->
	<bean id="properties"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:system.properties</value>
				<value>classpath:log4j.properties</value>
				<value>classpath:database.properties</value>
			</list>
		</property>
	</bean>

	<bean id="sysPropsResource"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="classpath:system.properties"></property>
	</bean>

	<!-- Jetty configuration -->
	<import resource="jetty.xml" />

	<!-- Database related configuration -->
	<import resource="datasource.xml" />

	<!-- SMPP bean -->
	<bean id="smppClient" class="com.peoplecloud.smpp.cloudhopper.SMPPClient"
		init-method="initialize">
		<constructor-arg ref="sysPropsResource"></constructor-arg>
	</bean>

	<!-- REST Services -->
	<bean id="smsRestAPIService" name="smsRestAPIService"
		class="com.peoplecloud.smpp.api.SMSRestAPI" init-method="initialize">

	    <constructor-arg value="SMS REST API INTERFACE"></constructor-arg>
	    
		<property name="smppClient" ref="smppClient"></property>
		<property name="dbPersistanceService" ref="dbPersistanceService"></property>
		<property name="smsCallbackService" ref="smsCallbackService"></property>
	</bean>

	<bean id="securityInterceptor" name="securityInterceptor"
		class="com.peoplecloud.smpp.api.RestSecurityInterceptor">
	    
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<!-- Database Services -->
	<bean id="dbPersistanceService" class="com.peoplecloud.smpp.service.MessagePersistanceService">
		<property name="msgDAO" ref="msgDAO"></property>
	</bean>
	<bean id="smsCallbackService" class="com.peoplecloud.smpp.service.SMSCallbackService">
		<property name="callbackDAO" ref="callbackDAO"></property>
	</bean>
	
	<!-- Data Access Objects -->
	<bean id="userDao" class="com.peoplecloud.smpp.dao.UserDAO"></bean>
	<bean id="msgDAO" class="com.peoplecloud.smpp.dao.MessageDAO"></bean>
	<bean id="callbackDAO" class="com.peoplecloud.smpp.dao.SMSCallbackDAO"></bean>
</beans>
